@use '@angular/material' as mat;
@use '../../../../layout' as layout;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-typography: mat.define-typography-config(
  $font-family: 'Roboto, monospace'
);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: $my-typography,
));

@include mat.all-component-themes($my-theme);
@include layout.theme($my-theme);
