@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  body {
    background-color: mat.get-color-from-palette($primary-palette, 50, 0.3);
  }

  * {
    box-sizing: border-box;
  }

  .sidenav-content {
    background-color: mat.get-color-from-palette($primary-palette, 50, 0.3);
    color: mat.get-color-from-palette($primary-palette, 900);
  }

  .mat-drawer {
    background-color: mat.get-color-from-palette($primary-palette, 50);
    color: mat.get-color-from-palette($primary-palette, 900);
  }

  mat-drawer-container {
    & .mat-drawer-backdrop.mat-drawer-shown {
      background-color: rgba(0, 0, 0, 0.32);
    }
  }

  mat-bottom-sheet-container.mat-bottom-sheet-container {
    background-color: mat.get-color-from-palette($primary-palette, 50);
    color: mat.get-color-from-palette($primary-palette, 900);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3), 0 1px 3px 1px rgba(0,0,0,.15);
    .md-primary-color * {
      color: mat.get-color-from-palette($primary-palette, 900);
    }
  }
}
