@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  md-link-button[disabled] {
    &.active button {
      color: mat.get-color-from-palette($primary-palette, 900);
    }

    & button {
      color: mat.get-color-from-palette($primary-palette, 800);
    }
  }

  .section-name {
    color: mat.get-color-from-palette($primary-palette, 800);
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  md-link-button[disabled] {
    & button {
      @include mat.typography-level($typography-config, 'button');
    }
  }

  .section-name {
    @include mat.typography-level($typography-config, 'caption');
  }
}
